.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c8b8b;
  }
  
  .section {
    width: 20%;
    height: '50vh';
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    /* background-image: linear-gradient(to right, rgb(47, 47, 44), rgb(113, 113, 101)); */

  }
  
  .display {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color:#f5f5f5; /* light gray */
  }
  
  .buttons .row {
    display: flex;
   

  }
  
  .buttons .col {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    
    /* Different colors for different types of buttons */
    
    /* Number buttons */
    background-color: lightgrey; /* light gray */
  }
  
  .buttons .col:nth-child(4) {
      /* Operator buttons */
      background-color: black; /* orange */
      color: white; /* white text */
  }
  
  .buttons .row:last-child .col {
      /* Clear button */
      background-color: #8c8b8b ;
      color: white; /* white text */
  }
  .buttons .col.clear{
    background-color: rgb(254, 87, 87);
  }
  